/target
workspace
data
figs
scripts
pyproject.toml
poetry.lock
notebooks
analytic
analytical_v4.py
ansatz
buff
callgrind.out.645876
callgrind.out.673557
callgrind.out.673714
capture_time.sh
check
flamegraph.svg
lattice
mVMCData/
out
params
params.txt
perf.data
perf.data.old
perf/
presentations/
smk.txt
src/bin/ansatz.rs
src/bin/dvmc_pairwf2_bak.rs
time_file
timerun/
tmp.buff
u_t_sweep
varparams

